In [1]:
import numpy as np
import pandas as pd

In [2]:
name = ['A','B','C','D','E']
id= [1,2,3,4,5]
c_name= ['A','B','C','D','E']
salary = [100,200,300,400,500]

In [15]:
dict1 = {
    'name' : name,
    'id' : id,
    'c_name' : c_name
}

In [16]:
dict1

{'name': ['A', 'B', 'C', 'D', 'E'],
 'id': [1, 2, 3, 4, 5],
 'c_name': ['A', 'B', 'C', 'D', 'E']}

In [17]:
df1 = pd.DataFrame(dict1)
df1

  name  id c_name
0    A   1      A
1    B   2      B
2    C   3      C
3    D   4      D
4    E   5      E

In [18]:
dict2 = {
     'id' : id,
    'salary' : salary
}

df2 = pd.DataFrame(dict2)
df2

   id  salary
0   1     100
1   2     200
2   3     300
3   4     400
4   5     500

In [21]:
newdf = df1.merge(df2)
newdf

  name  id c_name  salary
0    A   1      A     100
1    B   2      B     200
2    C   3      C     300
3    D   4      D     400
4    E   5      E     500