In [4]:
import pandas as pd

In [5]:
students_data = {
    'ID' : [1,2,3,4,5],
    'Name' : ['A','B','C','D','E'],
    'Age' : [20,22, 18,23,21],
    'Gender' : ['F', 'M', 'M', 'F', 'F'],
    'Score' : [85, None, 78,92, None]
}

In [6]:
students_df = pd.DataFrame(students_data)
students_df.to_csv('students.csv')
students_df = pd.read_csv('students.csv')

In [7]:
extra_scores_data= {
    'ID': [1,2,3,4,5],
    'Subject': ['Maths', 'Eng', 'Hindi', 'Eng', 'Science'],
    'Additional_Score': [5,10,15,20,25]
}

In [8]:
extra_scores_df = pd.DataFrame(extra_scores_data)
extra_scores_df.to_csv('extra_scores.csv')
extra_scores_df = pd.read_csv('extra_scores.csv')

In [9]:
print("Original Students Data: ")
print(students_df)
print("\n Extra Scores Data: ")
print(extra_scores_df)

Original Students Data:
   Unnamed: 0  ID Name  Age Gender  Score
0           0   1    A   20      F   85.0
1           1   2    B   22      M    NaN
2           2   3    C   18      M   78.0
3           3   4    D   23      F   92.0
4           4   5    E   21      F    NaN

 Extra Scores Data:
   Unnamed: 0  ID  Subject  Additional_Score
0           0   1    Maths                 5
1           1   2      Eng                10
2           2   3    Hindi                15
3           3   4      Eng                20
4           4   5  Science                25

In [10]:
Students_df = students_df.dropna(subset= ['Age'])
average_score= students_df['Score'].mean()
students_df['Score'].fillna(average_score, inplace=True)
print("\n Updated Students Data: ")
print(students_df)

 Updated Students Data:
   Unnamed: 0  ID Name  Age Gender  Score
0           0   1    A   20      F   85.0
1           1   2    B   22      M   85.0
2           2   3    C   18      M   78.0
3           3   4    D   23      F   92.0
4           4   5    E   21      F   85.0

C:\Users\dai.STUDENTSDC\AppData\Local\Temp\ipykernel_18620\1588350197.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  students_df['Score'].fillna(average_score, inplace=True)

In [15]:
filtered_students_df = [(students_df['Score'] > 70) & ( students_df['Age'] >20)]
print ("Filtered Data Frame: ")
print(filtered_students_df)

Filtered Data Frame:
[0    False
1     True
2    False
3     True
4     True
dtype: bool]

In [18]:
students_df['Final Score'] = students_df['Score'] + 10
print("\n Updated Students DataFrame with Final Score: ")
print(students_df)

 Updated Students DataFrame with Final Score:
   Unnamed: 0  ID Name  Age Gender  Score  Final Score
0           0   1    A   20      F   85.0         95.0
1           1   2    B   22      M   85.0         95.0
2           2   3    C   18      M   78.0         88.0
3           3   4    D   23      F   92.0        102.0
4           4   5    E   21      F   85.0         95.0

In [20]:
students_df = students_df.drop('Gender', axis=1)
print("\n Updated Students DataFrame without Gender column:")
print(students_df)

 Updated Students DataFrame without Gender column:
   Unnamed: 0  ID Name  Age  Score  Final Score
0           0   1    A   20   85.0         95.0
1           1   2    B   22   85.0         95.0
2           2   3    C   18   78.0         88.0
3           3   4    D   23   92.0        102.0
4           4   5    E   21   85.0         95.0

In [21]:
sorted_students_df = students_df.sort_values(by='Final Score', ascending= False)
print("\n Sorted Students DataFrame : ")
print(students_df)

 Sorted Students DataFrame :
   Unnamed: 0  ID Name  Age  Score  Final Score
0           0   1    A   20   85.0         95.0
1           1   2    B   22   85.0         95.0
2           2   3    C   18   78.0         88.0
3           3   4    D   23   92.0        102.0
4           4   5    E   21   85.0         95.0

In [22]:
merged_df = pd.merge(students_df, extra_scores_df, on='ID', how='left')

In [26]:
merged_df['Total Score'] = merged_df['Final Score'] + merged_df['Additional_Score']
print("\n Merged DataFrame with Total Score: ")
print(merged_df)

 Merged DataFrame with Total Score:
   Unnamed: 0_x  ID Name  Age  Score  Final Score  Unnamed: 0_y  Subject  \
0             0   1    A   20   85.0         95.0             0    Maths
1             1   2    B   22   85.0         95.0             1      Eng
2             2   3    C   18   78.0         88.0             2    Hindi
3             3   4    D   23   92.0        102.0             3      Eng
4             4   5    E   21   85.0         95.0             4  Science

   Additional_Score  Total Score
0                 5        100.0
1                10        105.0
2                15        103.0
3                20        122.0
4                25        120.0