In [2]:
import pandas as pd

In [6]:
data = {
    'Name': [ 'A', 'B', 'C', 'D', 'E'],
    'Age': [25,30,35,40,22],
    'City': ['F','G','H','I','J'],
    'Score':[85,50,92,80,30]
}
df = pd.DataFrame(data)

In [7]:
print(df.iloc[0])

Name      A
Age      25
City      F
Score    85
Name: 0, dtype: object

In [8]:
print(df.iloc[:3])

  Name  Age City  Score
0    A   25    F     85
1    B   30    G     50
2    C   35    H     92

In [9]:
print(df['Name'])

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object

In [10]:
print(df.loc[2])

Name      C
Age      35
City      H
Score    92
Name: 2, dtype: object

In [11]:
print(df.loc[df['Age'] > 30])

  Name  Age City  Score
2    C   35    H     92
3    D   40    I     80

In [14]:
print(df['Score'] > 85)

0    False
1    False
2     True
3    False
4    False
Name: Score, dtype: bool

In [15]:
print(df[df['Score']>85])

  Name  Age City  Score
2    C   35    H     92

In [16]:
print(df['Score']>85)

0    False
1    False
2     True
3    False
4    False
Name: Score, dtype: bool

In [19]:
print(df[df['City'].isin(['G','H'])])

  Name  Age City  Score
1    B   30    G     50
2    C   35    H     92

In [20]:
print(df.at[0,'Score'])

85

In [ ]:
print